<div id="header-sticky" [ngClass]="headerSticky ? 'header__area header__transparent header__padding sticky' : 'header__area header__transparent header__padding' "
    [class.header__white]="header__white">
       <div class="container-fluid">
          <div class="row align-items-center">
             <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-2 col-sm-4 col-6">
                <div class="header__left d-flex">
                   <div class="logo">
                      <a [routerLink]="['/']" >
                        <img *ngIf="header__white && !headerSticky else elseImg"
                           [src]="header.logo" alt="logo" />

                         <ng-template #elseImg>
                          <img [src]="header.logo" alt="logo">
                         </ng-template>
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-10 col-sm-8 col-6">
                <div class="header__right d-flex justify-content-end align-items-center">
                   <div class="main-menu" [class.main-menu-3]="header__white">
                      <nav id="mobile-menu" class="d-none d-xl-block">
                         <ul>
                            <ng-container *ngFor="let option of header.menu">
                                <li class="has-dropdown">
                                <a [routerLink]="['/'+option.link]">
                                    {{option.name}}
                                    <i class="bx bx-chevron-down" *ngIf="option?.subOptions"></i>
                                </a>
                                <ul class="submenu" *ngIf="option?.subOptions">
                                    <ng-container *ngFor="let suboption of option.subOptions">
                                        <li><a [routerLink]="['/'+option.link+'/'+suboption.link]">{{suboption.name}}</a></li>
                                    </ng-container>
                                </ul>
                                </li>
                            </ng-container>
                            
                         </ul>
                      </nav>
                   </div>
                   
                   <div class="sidebar__menu d-xl-none">
                      <div class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
                          <span class="line"></span>
                          <span class="line"></span>
                          <span class="line"></span>
                      </div>
                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>