.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    transform: translateY(-50%);
    top: 50%;
    width: 1px;
    height: 1px;
    border: 3px solid var(--bs-primary);
    border-radius: 50%;
}

.navbar-brand{
    img{
        width: 140px;
    }
}

button:focus {
    outline: none;
    box-shadow: none;
}

.open-menu{
    max-height: 100vh;
}

.close-menu{
    max-height: 0px;
}

.sub-menu{
    max-height: 30vh;
}

.sub-menu{
    a:hover {
        color:  var(--bs-primary) !important;
    }
}

.nav-item:hover{
    .sub-menu{
        max-height: 30vh;
    }
}

@media screen and (min-width: 1480px) {
    .active::after{
        transform: translateX(-50%);
        left: 50%;
        top: 100%;
    }
    .navbar-brand{
        img{
        width: 175px;
        }
    }

    .sub-menu{
        max-height: 0vh;
    }
}

.filter-invert {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}