<div class="navbar-area">
    <div class="exto-responsive-nav">
        <div class="container">
            <div class="exto-responsive-menu">
                <div class="logo">
                    <a routerLink="/">
                        <img [src]="header.logo" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="exto-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img [src]="header.logo" alt="logo">
                </a>

                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <ng-container *ngFor="let option of header.menu">
                            <li class="nav-item">
                                <a [routerLink]="['/'+option.link]" class="nav-link">{{option.name}} <i class="bx bx-chevron-down" *ngIf="option?.subOptions"></i></a>

                                <ul class="dropdown-menu" *ngIf="option?.subOptions">
                                    <ng-container *ngFor="let suboption of option.subOptions">
                                        <li class="nav-item"><a [routerLink]="['/'+option.link+'/'+suboption.link]" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">{{suboption.name}}</a></li>
                                    </ng-container>
                                </ul>
                            </li>
                        </ng-container>
                    </ul>

                    <div class="others-options">

                        <a class="saas-nav-btn text-decoration-none" routerLink="/pricing">Contact us<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>