<section class="container">
    <div class="row w-100 h-100 gap-0">
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>
        <div class="col-4 px-0">
            <img class="w-100 h-100 img-fluid" src="https://placehold.co/600x400">
        </div>

    </div>
</section>