
<div class="row w-100">
    <div class="col-12 col-xl-6 mx-auto d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="https://placehold.co/500x600">
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <div class="row w-100 my-3 mx-auto text-start">
            <h2 class="my-4 text-dark fst-italic text-uppercase"><b>Lorem ipsum dolor sit amet</b></h2>
            <p class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id aliquet urna. Donec varius vel metus ut sodales. Aliquam tempor, mauris sit amet aliquam ullamcorper, eros sem faucibus magna, at ullamcorper mauris nulla quis mauris.
            </p>
            <div ngbAccordion class="col-8">
                <div ngbAccordionItem class="border-0 bg-white">
                    <h2 ngbAccordionHeader>
                        <button class="bg-white" ngbAccordionButton>
                            <b>Title</b>
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <p class="pb-4 my-0 text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id aliquet urna. Donec varius vel metus ut sodales. Aliquam tempor, mauris sit amet aliquam ullamcorper.</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem class="border-0 bg-white">
                    <h2 ngbAccordionHeader>
                        <button class="border-top bg-white" ngbAccordionButton>
                            <b>Title</b>
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <p class="pb-4 my-0 text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id aliquet urna. Donec varius vel metus ut sodales. Aliquam tempor, mauris sit amet aliquam ullamcorper.</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem class="border-0 bg-white">
                    <h2 ngbAccordionHeader>
                        <button class="border-top bg-white" ngbAccordionButton>
                            <b>Title</b>
                        </button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                <p class="pb-4 my-0 text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id aliquet urna. Donec varius vel metus ut sodales. Aliquam tempor, mauris sit amet aliquam ullamcorper.</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>