<div class="row w-100">
    <div class="col-12 col-xl-6 mx-auto d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="https://placehold.co/500x600">
    </div>
    <div class="col">
        <div class="row justify-content-center mt-4">
            <p class="d-flex w-auto py-2 px-5 bg-primary text-white rounded-pill fs-5 text-uppercase"><b>Lorem ipsum</b></p>
        </div>
        <div class="row w-100 my-3 mx-auto text-center">
            <h2 class="my-4 text-dark fst-italic text-uppercase"><b>Lorem ipsum dolor sit amet</b></h2>
            <p class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id aliquet urna. Donec varius vel metus ut sodales. Aliquam tempor, mauris sit amet aliquam ullamcorper, eros sem faucibus magna, at ullamcorper mauris nulla quis mauris.
            </p>
            <p class="text-dark">
                Morbi eget nulla vel diam viverra ornare. Vivamus eu libero fermentum, maximus turpis et, porta diam. Proin semper at libero et vehicula. In non enim non tortor placerat dapibus. Praesent sed leo ac risus accumsan tristique et at tortor. Praesent dolor ipsum, venenatis id convallis et, vestibulum vel quam.
            </p>
            <p class="text-dark">
                Maecenas vitae porttitor dui. Etiam eget ornare justo. Nunc congue nunc aliquam dapibus pharetra. Aliquam euismod lacinia interdum. Maecenas sit amet ante vel est bibendum elementum ac eget ante. Donec lectus purus, luctus in elit vitae, dictum pharetra enim. Quisque rutrum diam vel dui lobortis, placerat posuere nunc cursus. 
            </p>
        </div>
    </div>
</div>